.realtors {
    background-color: #101d2c;
    grid-column: col-start 7 / full-end;
    padding: 3rem;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    grid-row-gap: 2rem;

    @media (max-width: $bp-800) {
        grid-column: 1 / -1;
    }
}

.realtors__img {
    width: 7rem;
    border-radius: 50%;
    display: block;
}

.realtors__sold {
    text-transform: uppercase;
    color: #aaa;
    margin-top: -3px;
}

.realtors__list {
    display: grid;
    grid-template-columns: -webkit-min-content -webkit-max-content;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    @media (max-width: $bp-800) {
        grid-template-columns: repeat(3, -webkit-min-content -webkit-max-content);
        grid-template-columns: repeat(3, min-content max-content);    }

        @media (max-width: $bp-600) {
            grid-template-columns: -webkit-min-content -webkit-max-content;
            grid-template-columns: min-content max-content;
        }
}

